{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

   <center><h3>Pastry_hub </h3></center> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'logstyle/style2.css' %}">
</head>
<body background="{% static 'images\pexels-silvia-trigo-1857157.jpg' %}">
    <center><div class="log">
        <form action="{% url 'regipage' %}" method="post">                               <!--to get the details in url-->
        {% csrf_token %}
        <h1>Register</h1>
        <input type="text" name="uname" placeholder="User name" required><br>
        <input type="text" name="fname" placeholder="First name"><br>
        <input type="text" name="lname" placeholder="Last name"><br>
        <input type="email" name="email" placeholder="email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="repassword" placeholder="Re-enter password" required><br>
        <button type="submit">Submit</button><br> 
        <font color="red" size="5">{{msge}}</font>                                                   
    </form>                                       
    </center> 
    
</body>
</html>